<div id="starfield" class="absolute inset-0 backgroundSplash">
</div>
<style>
  .backgroundSplash {
      background-image: url(/img/bg-top.webp);
      filter: blur(5px);
      -webkit-filter: blur(5px);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>