---
import { Icon } from "astro-icon";
import ContentSection from "~/components/services-section.astro";
import type { FeatureItem } from "~/types";
---

<ContentSection title="About" id="about">
    <Fragment slot="lead">
        Links and content be added <span class="text-primary">Including video links</span> of the drones in action including the <span class="text-primary"></span>XAG P100</span> spraying and seeding drone.
    </Fragment>