---
import { Icon } from "astro-icon";
import { YouTube } from '@astro-community/astro-embed-youtube';
import ContentSection from "~/components/services-section.astro";
import type { FeatureItem } from "~/types";
---

<ContentSection title="About" id="about">
    <Fragment slot="lead">
        We use advanced multi-functional Agricultural Drones from <span class="text-primary whitespace-nowrap">XAG Australia</span>, and all of our pilots are <span class="text-primary">CASA certified</span>.
        
        <div class="grid max-w-6xl grid-cols-1 md:grid-cols-2 gap-5">
            <div class="w-[80vw] md:w-[40vw]">
                <span class="text-primary font-bold">P100 spraying and seeding drone</span>
                <YouTube id="ZGSO6fZLixg" />
            </div>
            <div class="w-[80vw] md:w-[40vw]">
                <span class="text-primary font-bold">M500 mapping drone</span>
                <YouTube id="XyrI-0Y_9-U" />
            </div>
        </div>
    </Fragment>
    

</ContentSection>