---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

---

<footer class="relative flex-wrap h-48 items-center justify-center bg-slate-800">
  <div class="max-w text-center text-sm text-white grow items-center p-4">
    Copyright © {new Date().getFullYear()} BushFlyers AG Drone services. All rights reserved.
  </div>
  <div class="grid grid-cols-2 items-center justify-center gap-10">
      <a href="https://www.xagaustralia.com.au/" target="_blank" class="place-self-end"><Icon name="xag-logo-white" class="h-12" /></a>
      <a href="https://www.birdi.io/" target="_blank" class="place-self-start"><Icon name="birdi-white" class="h-12" /></a>
  </div>


</footer>
