---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const { default: xag } = await import(`~/assets/xag-logo-white.svg?raw`);
const { default: birdi } = await import(`~/assets/birdi-white.svg?raw`);
---

<footer class="relative flex-wrap h-48 items-center justify-center bg-slate-800">
  <div class="max-w text-center text-sm text-white grow items-center py-4">
    Footer copy TBA. All rights reserved.
  </div>
  <div class="grid grid-cols-2 items-center justify-center gap-1">
      <a href="https://www.xagaustralia.com.au/" target="_blank" class="flex items-center justify-center"><Fragment set:html={xag}></a>
      <a href="https://www.birdi.io/" target="_blank" class="flex items-center justify-center"><Fragment set:html={birdi}></a>
  </div>


</footer>
