---
import { Icon } from "astro-icon";
import ContentSection from "~/components/services-section.astro";
---

<ContentSection title="Intelligent solutions that save time and money while increasing productivity" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Our combined experience and knowledge of farming and cropping are well suited to address your precision farming needs. We use <span class="text-primary">CASA certified pilots</span> flying the latest <span class="text-primary">XAG P100</span> spraying and seeding drone and the <span class="text-primary">M500</span> mapping drone integrated with the scalable aerial intelligence platform <span class="text-primary">Birdi</span>.
  </Fragment>
  <div class="grid grid-cols-1">
    <a
      href="#team"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="ion" name="id-card-outline" class="h-8" />
      <span>Contact the team</span>
    </a>
  </div>
</ContentSection>
