---
import { Icon } from "astro-icon";
import ContentSection from "~/components/services-section.astro";
import type { FeatureItem } from "~/types";

const services = await Astro.glob('../content/drone-services/*.md');

---

<ContentSection title="Services" id="services">
  <Fragment slot="lead">
    We offer specialised drone services for many <span class="text-primary">agricultural applications</span> including;
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      services.map(( service ) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={service.frontmatter.icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{service.frontmatter.title}</p>
          <p class="text-center text-offset text-sm">{service.frontmatter.description}</p>
          <p set:html={service.compiledContent()} />
        </li>
      ))
    }
  </ul>
</ContentSection>
